.container{
    background-color: rgb(141, 140, 140);
    color: yellowgreen;
    padding: 20px;
}
.container2 {
    background-color: bisque;
    color: violet;
}
.text{
    font-size: 1.2rem;
    color: red;
    font-weight: 900;
}